/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

 body {
    font-family: Arial, Helvetica, sans-serif;
 }

 nav {
    justify-content: space-between;
    display: flex;
    font-size: 0.875em;
    gap: 0.5rem;
    max-width: 1024px;
    margin: 0 auto;
    padding: 1rem;
 }

 .form-input {
  display: flex;
  justify-content: space-between;
 }

 .form-input input {
  width: 60%;
  opacity: .8;
 }

 form .form-input:nth-child(odd) {
  background-color: rgb(254, 252, 227);
}

form .form-input:nth-child(even) {
  background-color: rgb(255, 219, 142);
}



 table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
 }

 table td {
  border: 1px solid black;
 }

 .exercises-table thead th:nth-child(1) {
    width: 30%;
  }
  
  .exercises-table thead th:nth-child(2) {
    width: 10%;
  }
  
  .exercises-table thead th:nth-child(3) {
    width: 10%;
  }
  
  .exercises-table thead th:nth-child(4) {
    width: 15%;
  }

  .exercises-table thead th:nth-child(5) {
    width: 20%;
  }

  .exercises-table thead th:nth-child(6) {
    width: 15%;
  }

 tbody tr:nth-child(odd) {
    background-color: white;
  }
  
  tbody tr:nth-child(even) {
    background-color: rgb(231, 231, 231);
  }
